@import '../../../styles/variables';
@import '../../../styles/typography';
@import '../../../styles/mixins';

.dashboard_header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 370px);
    margin-top: 24px;
    margin-left: auto;
    margin-right: 30px;
    padding: 0;
    &.profile_header {
        padding: 1rem;
        align-items: start;
        background-color: $primary-color;
        background-image: url(../../../assets/images/abstract.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 15px;
        width: calc(100% - 400px);
        height: 270px;
        .react-aria-Breadcrumbs .react-aria-Link,
        .search_field_wrap .react-aria-Link,
        .secondary_button,
        .react-aria-Breadcrumbs .react-aria-Breadcrumb:not(:last-child)::after,
        .disabled{
            color: $color_white;
        }
    }

    .search_field_wrap {
        display: flex;
        align-items: center;

        .react-aria-Link {
            display: flex;
            align-items: center;
            color: $text_secondary_color;
            font-weight: $font-weight-bold;
            line-height: 1;
            gap: 5px;
            cursor: pointer;
        }

        .secondary_button {
            padding: 0;
        }

        *:not(:last-child) {
            margin-right: 1rem;
        }
    }
}