$primary_color: #4FD1C5;  // Example: Blue
$secondary_color: #7a7f83; // Example: Gray
$success_color: #28a745;   // Example: Green
$danger_color: #dc3545;    // Example: Red
$color_white: #fff;
$body_background_color: #F8F9FA; // Example: Light gray
$text_color: #2D3748;  
$text_secondary_color: #A0AEC0;      // Example: Dark gray
$gradient: linear-gradient(81.62deg, #313860 2.25%, #151928 79.87%);
$border-color: #E2E8F0;
$error_color: #ed0000;
$box_shadow_primary: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
$grey_1: #E2E8F0;


