@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&display=swap");
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #2D3748;
  font-size: 0.875rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #2D3748;
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.text_center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

label {
  font-size: 0.875rem;
  color: #2D3748;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #F8F9FA;
}

input {
  outline: none;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.primary_button {
  background-color: #4FD1C5;
  color: #fff;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: 700;
  width: auto;
}
.primary_button:hover {
  background-color: #31bcaf;
}
.primary_button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(79, 209, 197, 0.5);
}

.secondary_button {
  background-color: transparent;
  color: #A0AEC0;
  padding: 13px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: 700;
  width: auto;
  display: flex;
  align-items: center;
}
.secondary_button:hover {
  background-color: rgba(0, 0, 0, 0);
}
.secondary_button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

.react-aria-Form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.react-aria-Switch {
  display: flex;
  align-items: center;
  gap: 0.571rem;
  font-size: 0.875rem;
  color: var(--text-color);
  forced-color-adjust: none;
  cursor: pointer;
}
.react-aria-Switch .indicator {
  width: 3rem;
  height: 1.5rem;
  border: 1px solid #E2E8F0;
  background: var(--background-color);
  border-radius: 1.143rem;
  transition: all 200ms;
}
.react-aria-Switch .indicator:before {
  content: "";
  display: block;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  background: #4FD1C5;
  border-radius: 16px;
  transition: all 200ms;
}
.react-aria-Switch[data-pressed] .indicator {
  border-color: var(--border-color-pressed);
}
.react-aria-Switch[data-pressed] .indicator:before {
  background: var(--highlight-background-pressed);
}
.react-aria-Switch[data-selected] .indicator {
  border-color: #4FD1C5;
  background: #4FD1C5;
}
.react-aria-Switch[data-selected] .indicator:before {
  background: #fff;
  transform: translateX(150%);
}
.react-aria-Switch[data-selected][data-pressed] .indicator {
  border-color: #4FD1C5;
  background: #4FD1C5;
}

.react-aria-TextField {
  display: flex;
  flex-direction: column;
}
.react-aria-TextField label {
  margin-bottom: 7px;
}
.react-aria-TextField input {
  background-color: #fff;
  border: 1px solid #E2E8F0;
  border-radius: 10px;
  padding: 16px 20px;
}
.react-aria-TextField input::-moz-placeholder {
  color: #A0AEC0;
}
.react-aria-TextField input::placeholder {
  color: #A0AEC0;
}
.react-aria-TextField input.error_input {
  border-color: #ed0000;
}

.error_text {
  color: #ed0000;
  margin: 0;
  font-size: 0.75rem;
  line-height: 1;
  padding-top: 5px;
}

.react-aria-Breadcrumbs {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
  color: #2D3748;
}
.react-aria-Breadcrumbs .react-aria-Breadcrumb {
  position: relative;
  padding: 10px 0;
}
.react-aria-Breadcrumbs .react-aria-Breadcrumb:not(:last-child) {
  margin-right: 20px;
}
.react-aria-Breadcrumbs .react-aria-Breadcrumb:not(:last-child)::after {
  content: "/";
  content: "/"/"";
  alt: " ";
  padding: 0 5px;
  position: absolute;
  right: -17px;
  top: 11px;
}
.react-aria-Breadcrumbs .react-aria-Link {
  color: #A0AEC0;
  outline: none;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
}
.react-aria-Breadcrumbs .react-aria-Link[data-hovered] {
  text-decoration: underline;
}
.react-aria-Breadcrumbs .react-aria-Link[data-current] {
  color: #2D3748;
}
.react-aria-Breadcrumbs .react-aria-Link[data-focus-visible]:after {
  content: "";
  position: absolute;
  inset: -2px -4px;
  border-radius: 6px;
}

.react-aria-SearchField input {
  background: url(../assets/images/search.svg) no-repeat 10px/1rem;
  padding: 12px 36px;
  border: 1px solid #E2E8F0;
  border-radius: 10px;
  background-color: #fff;
}/*# sourceMappingURL=main.css.map */