@import './variables';
@import './typography.scss';
@import './mixins';

.bar {
    background-color: $grey_1;
    forced-color-adjust: none;
    height: 6px;
    border-radius: 5px;
    overflow: hidden;
    will-change: transform;
    margin-top: 10px;
}

.fill {
    background: $primary-color;
    height: 100%;
}