@import '../../../styles/variables';
@import '../../../styles/typography.scss';
@import '../../../styles/mixins';

.current_date_revenue_card_row{
    display: flex;
    gap: 24px;
    margin-top: 30px;   
    li{
        flex: 0 0 calc(25% - 50px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color_white;
        padding: 17px 20px;
        border-radius: 15px;
        &.current_money .revenue_value::before{
            content: '$';
        }
        &.new_clients .revenue_value::before{
            content: '+';
        }
        &.total_sales .revenue_value::before{
            content: '$';
        }
        .card_heading{
            color: $text_secondary_color;
            font-weight: $font-weight-bold;
        }
        .revenue_value{
            color: $text-color;
            font-size: $xl_font_size;
            font-weight: $font-weight-bold;
            position: relative;
        }
        p{
            margin: 0;
        }
        .current_date_revenue_card_right{
            @include iconStyle($height: 45px, $width: 45px, $border-radius: 10px)
        }
    }
}