@import '../../styles/variables';
@import '../../styles/typography.scss';
@import '../../styles/mixins';

.common_dashboard_wrap {
    padding: 20px;
    display: flex;

    .component_heading {
        font-size: $xl_font_size;
        font-weight: $font-weight-bold;
    }

    .dashboard_content_wrap {
        width: calc(100% - 370px);
        margin-left: auto;
        padding: 0.5rem 2rem;

      
    }




}