@import '../../../styles/variables';
@import '../../../styles/typography.scss';
@import '../../../styles/mixins';

.project_and_order_wrap {


    .common_component_wrap {
        width: 100%;

        &.project_table_wrap {
            flex: 0 0 60%;
            width: 60%;

            .project_overall_table_wrap {
                max-height: 400px;
                overflow: auto;
            }
        }

        &.project_order_wrap b {
            color: $success_color;
        }
    }

    .company {
        display: flex;
        align-items: center;

        img {
            border-radius: 6px;
        }

        span {
            font-weight: $font-weight-bold;
            color: $text_color;
            padding-left: 15px;
        }
    }

    .budget {
        font-weight: $font-weight-bold;
    }

    .component_sub_heading {
        display: flex;
        align-items: center;
        color: $text_secondary_color;
        gap: 5px;
    }

    .order_list_item {
        display: flex;
        align-items: start;
        padding: 10px 0;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 7px;
            top: 38px;
            width: 2px;
            height: calc(100% - 30px);
            background-color: $grey_1;
            border-radius: 5px;
        }

        img {
            margin-top: 5px;
        }

        .order_list_item_text {
            padding-left: 20px;

            p {
                margin: 0;

                &.order_name {
                    font-weight: $font-weight-bold;
                    color: $text_color;
                    margin-bottom: 5px;
                }
            }
        }
    }
}