* {
    box-sizing: border-box;
    margin: 0;
}

.formCard {
    min-width: 500px;
    margin: auto;
    display: flex
;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 440px;
}

.mainContainer {
    height: 100vh;
    background: url(../assets/images/25694852_sl_0210121_40570_34.jpg) no-repeat center/100% 100%;
    max-width: none;
}

.formContainer{
    display: flex;
    justify-content: center;
}

.formCard .chakra-card__body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px);
    height: 500px;
}

.forgotPass{
    text-align: center;
    display: inline-block;
}